<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GitHub</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<center>
<Body background = "https://images.hdqwalls.com/download/nebula-space-art-ys-1920x1080.jpg"></Body>
<img src="https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif" >

<p style="color:white" th:text="'Hello, ' + ${guest_name} + ', thanks for watching!'" />
<br/>
<h4 style="color:white">Written by Iryna Sazanska, group 124-19-2</h4>

</center>
</html>
