<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>GitHub</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<center>
<img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" width="400" height="300">


<Body background = "https://images.hdqwalls.com/download/nebula-space-art-ys-1920x1080.jpg"></Body>


<h1 style="color:white">GITHUB</h1>
<br/>
<p style="color:white"> GitHub is an Internet hosting service for software development and version control using Git.
<p style="color:white">It provides the distributed version control of Git plus access control, bug tracking, software feature requests, task management, continuous integration, and wikis for every project.
<p style="color:white">Headquartered in California, it has been a subsidiary of Microsoft since 2018.
<p style="color:white">It is commonly used to host open source software development projects.
<br/>
<a style="color:orange" href="/info?parameter=Oleksandr Serhiyovych">Check out the next page...</a>
<br/>
<h4 style="color:white">Written by Iryna Sazanska, group 124-19-2</h4>
</body>
</center>
</html>
